{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}the uplifting scroller project &ndash; about{% endblock %}

{% block overflow %}class="hide-overflow"{% endblock %}

{% block body %}
    <main>
        <h1>philosophy</h1>
        <p>for those who want to show others they care or are simply thinking of them. intended to sit somewhere in between an e-card and a surprise bouquest of flowers in thoughtfulness, a considered uplifting sentiment or pick me up, designed well, and communicated digitally.</p>
    </main>
{% endblock %}

{% block footerposition %}class="footer-fixed"{% endblock %}