{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}have a nice wee day{% endblock %}

{% block bodyclasses %}class="hide-overflow homepage landing-body"{% endblock %}

{% block body %}
    <main class="landing">
        <h1 id="make-text">make</h1>
        <h1 id="someone-text">someone's</h1>
        <h1 id="day-text">day...</h1>
        <a href="/create" aria-label="create an uplifting scroller to share with someone"><div id="lets-go"></div></a>
    </main>
{% endblock %}

{% block footerposition %}class="footer-fixed"{% endblock %}