{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}have a nice wee day{% endblock %}

{% block overflow %}class="hide-overflow homepage"{% endblock %}

{% block header %}
<header>
    <div class="header-left">
        <h1><a href="/">have a nice wee day</a></h1>
    </div>
    <div class="header-right">
        <h1><a href="/about">about</a></h1>
        <h1><a href="/login">login</a></h1>
    </div>
</header>
{% endblock %}

{% block body %}
    <main class="landing">
        <h2 id="make-text">make</h2>
        <h2 id="someone-text">someone's</h2>
        <h2 id="day-text">day...</h2>
        <a href="/create"><div id="lets-go"></div></a>
    </main>
{% endblock %}

{% block footerposition %}class="footer-fixed"{% endblock %}