{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}have a nice wee day &ndash; legal{% endblock %}

{% block overflow %}class="hide-overflow"{% endblock %}

{% block body %}
    <main class="legal">
        <h1>notices</h1>
        <h2>disclaimer</h2>
        <p>have a nice wee day is a free experiment. no warranties are provided and no liabilities are accepted. users use the site at their own risk, and we are not responsible for the content users generate...</p>
        <h2>general terms of use</h2>
        <p>have a nice wee day was created to allow users to send little pockets of joy, and as such users should not submit potentially sensitive data to this site.</p>
        <h2>cookies</h2>
        <p>we only use functional cookies to a) allow you to edit your scroller shortly after creating it, and to b) check if you are logged in. these are deleted once you a) close the browser and b) log out. you don't need an account to use this site, and you also don't need to use your real email address if you do decide to create one... by continuing to this site, you agree to the use of functional cookies in this way.</p>
    </main>
{% endblock %}