{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}have a nice wee day &ndash; create{% endblock %}

{% block body %}
    <main class="create">
        <form method="POST" id="create-new">
            <div class="center">
                <label for="to-recipient-name">whose day are we making?</label><br />
                <input type="text" id="to-recipient-name" name="to-recipient-name" placeholder="a special someone" autofocus size="60" maxlength="80" style="text-transform:lowercase" />
            </div>
            <div>
                <p class="text-center">what mood are we feeling?</p>
                <input type="radio" id="spring" name="mood" value="1" />
                <label for="spring">spring has sprung &ndash; warm and light</label><br />
                <input type="radio" id="autumn" name="mood" value="2" />
                <label for="autumn">seasons change &ndash; autumnal and beige</label><br />
            </div>
            <div>
                <p class="text-center">the message</p>
                <p class="text-center">pick one of ours or make your own?</p>
                <input type="radio" id="pick-ours" name="default-message" value="True" onclick="hideCustomhaikuForm();" />
                <label for="pick-ours">let's see what you've got. surprise me!</label><br />
                <input type="radio" id="make-your-own" name="default-message" value="False" onclick="showCustomhaikuForm();"/>
                <label for="make-your-own">i'm feeling creative, let me write a quick haiku</label><br /><br />         
            </div>
            <div class="center" id="for-custom-haiku">
                <label for="line-one">your first line</label><br />
                <input type="text" id="line-one" name="line-one" placeholder="(5 syllables for a haiku)" size="60" maxlength="255" style="text-transform:lowercase" /><br />
                <label for="line-two">your second line</label><br />
                <input type="text" id="line-two" name="line-two" placeholder="(7 syllables for a haiku)" size="60" maxlength="255" style="text-transform:lowercase" /><br />
                <label for="line-three">your third line</label><br />
                <input type="text" id="line-three" name="line-three" placeholder="(5 syllables for a haiku)" size="60" maxlength="255" style="text-transform:lowercase" /><br /><br />
            </div>
            <div class="center">
                <label for="long-message">anything else you'd like to say? (optional)</label><br />
                <textarea id="long-message" name="long-message" rows="4" cols="60" maxlength="1000" ></textarea><br />
            </div>
            <div class="center">
                <label for="from-sender-name">and last but not least, who shall we say it's from?</label><br />
                <input type="text" id="from-sender-name" name="from-sender-name" placeholder="add some kisses if you want to" size="60" maxlength="80" style="text-transform:lowercase" /><br /><br />         
            </div>
            <input type="submit" value="let's make some magic" />
        </form>

        <script>
            function showCustomhaikuForm() {
                document.getElementById("for-custom-haiku").style.display = "block";
            }

            function hideCustomhaikuForm() {
                document.getElementById("for-custom-haiku").style.display = "none";
            }
        </script>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

    </main>
{% endblock %}