{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}have a nice wee day &ndash; create{% endblock %}

{% block body %}
    <main class="success">
        <h2>success!</h2>
        {% if logged_in %}
        <p>view and edit your scroller</p>
        <a href="/view/{{ slug }}">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.78 10.33"><g id="a"/><g id="b"><g id="c"><path d="M16.78,5.89c0,1.46-.92,2.86-2.56,2.86-.13,0-.23,0-.36-.04v.88c0,.41-.32,.74-.74,.74H4.5c-.41,0-.74-.32-.74-.74v-1.42c-.92,0-1.39-.63-1.6-1.24l-.88-2.58c-.09-.27-.23-.38-.49-.38h-.18c-.34,0-.61-.27-.61-.61s.27-.61,.61-.61h.45c.81,0,1.17,.43,1.4,1.08l.9,2.41c.11,.29,.23,.5,.63,.5,.43-2.09,1.6-4.88,4.83-4.88,1.78,0,2.99,.95,3.73,2.07,.4-.49,.92-.85,1.73-.85,1.53,0,2.5,1.28,2.5,2.79ZM7.98,.85c0-.56,.31-.85,.85-.85,.5,0,.83,.29,.83,.85s-.32,.85-.83,.85c-.54,0-.85-.29-.85-.85Zm7.58,5.08c0-.86-.4-1.76-1.3-1.76-.56,0-.92,.34-1.15,.83,.38,.9,.56,1.87,.67,2.61,.14,.05,.29,.11,.49,.11,.9,0,1.3-.9,1.3-1.78Z"/></g></g></svg>
            </div>
        </a>
        <br />
        {% else %}
        <p>view your scroller</p>
        <a href="/{{ slug }}">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.78 10.33"><g id="a"/><g id="b"><g id="c"><path d="M16.78,5.89c0,1.46-.92,2.86-2.56,2.86-.13,0-.23,0-.36-.04v.88c0,.41-.32,.74-.74,.74H4.5c-.41,0-.74-.32-.74-.74v-1.42c-.92,0-1.39-.63-1.6-1.24l-.88-2.58c-.09-.27-.23-.38-.49-.38h-.18c-.34,0-.61-.27-.61-.61s.27-.61,.61-.61h.45c.81,0,1.17,.43,1.4,1.08l.9,2.41c.11,.29,.23,.5,.63,.5,.43-2.09,1.6-4.88,4.83-4.88,1.78,0,2.99,.95,3.73,2.07,.4-.49,.92-.85,1.73-.85,1.53,0,2.5,1.28,2.5,2.79ZM7.98,.85c0-.56,.31-.85,.85-.85,.5,0,.83,.29,.83,.85s-.32,.85-.83,.85c-.54,0-.85-.29-.85-.85Zm7.58,5.08c0-.86-.4-1.76-1.3-1.76-.56,0-.92,.34-1.15,.83,.38,.9,.56,1.87,.67,2.61,.14,.05,.29,.11,.49,.11,.9,0,1.3-.9,1.3-1.78Z"/></g></g></svg>
            </div>
        </a>
        <br />
        {% endif %}
        <p>or go ahead and share</p>
        <input type="text" id="scroller-link"  value="http://127.0.0.1:5000/{{ slug }}" readonly />
        <button onclick="copyLink()">copy link</button>
    
        {% if not logged_in %}
        <p>to save and edit your scroller, create an account</p>
        <div class="success-register">
            <form method="POST">
                <div>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" required autocomplete="username" />
                </div>

                <div>
                    <label for="password">password (minimum 8 characters)</label>
                    <input type="password" name="password" id="password" minlength="8" maxlength="120" required autocomplete="new-password" />
                </div>

                <div>
                    <label for="password_confirmation">password confirmation</label>
                    <input type="password" name="password_confirmation" id="password_confirmation" required minlength="8" maxlength="120" />
                </div>

                <input type="submit" value="create account" />
            </form>
        </div>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% endif %}

    <script>
        function copyLink() {
            var copyText = document.getElementById("scroller-link");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            document.execCommand("copy");
        }
    </script>
    
    </main>

{% endblock %}