{% extends 'base.html' %}

{% block title %}have a nice wee day &ndash; manage{% endblock %}

{% block body %}
    <main class="manage-account-delete">
        <h1>your account</h1>
        <h2>delete</h2>
        <form method="POST" id="delete-account-form">
            <div>
                <p>to delete your account and all your scrollers, use this button:</p>
                <input type="submit" name="action" value="delete all" id="delete-all" />
            </div>
            <br>
            <div>
                <p>to delete your account but leave your scrollers, use this button:</p>
                <input type="submit" name="action" value="delete account" id="delete-account" />
                <p>(note: you will not be able to delete or edit your scrollers later)</p>
            </div>
        </form>
        
        <p class="text-right"><a href="/manage">back to manage account</a></p>
    </main>
    <script>
        document.getElementById('delete-all').addEventListener('click', function confirmDeleteAll() {
            let proceed = confirm('Are you sure you want to delete your account and all your scrollers? This cannot be undone.')
            if (proceed) {
                return true;
            } else {
                return false;
            }
        });

        document.getElementById('delete-account').addEventListneres('click', function confirmDeleteUser() {
            let proceed = confirm('Are you sure you want to delete your account? Your scrollers will remain but you will not be able to edit or delete them later. This cannot be undone.')
            if (proceed) {
                return true;
            } else {
                return false;
            }
        });
    </script>
{% endblock %}