{% extends 'base.html' %}

{% block title %}have a nice wee day &ndash; manage{% endblock %}

{% block body %}
    <main class="manage-account-delete">
        <h1>your account</h1>
        <h2>delete</h2>
        <form method="POST" id="delete-account-form">
            <div class="flex-between">
                <p>to delete your account and all your scrollers, use this button:</p>
                <input type="submit" name="action" value="delete all" id="delete-all" />
            </div>
            <div class="flex-between">
                <p>to delete your account but leave your scrollers, use this button:</p>
                <input type="submit" name="action" value="delete account" id="delete-account" />
            </div>
            <p>(note: you will not be able to delete or edit your scrollers later)</p>
        </form>
        <div class="flex-right">
            <p class="text-right"><a href="/manage">back to manage account</a></p>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/delete.js')}}"></script>
{% endblock %}