{% extends 'base.html' %}

{% block title %}have a nice wee day &ndash; login{% endblock %}

{% block body %}
    <main class="login">
        <h2>login</h2>

        <form method="POST">
            <div>
                <label for="email">email</label>
                <input type="email" name="email" id="email" required autofocus />
            </div>

            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" required />
            </div>

            <input type="submit" value="login" />
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </main>
{% endblock %}