{% extends 'base.html' %}

{% block title %}have a nice wee day &ndash; login{% endblock %}

{% block body %}
    <main class="login">
        <h1 class="text-center">login</h1>

        <form method="POST" class="login-form">
            <div>
                <label for="email">email</label>
                <input type="email" name="email" id="email" required autofocus autocomplete="username" />
            </div>

            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" required minlength="8" maxlength="120" required autocomplete="current-password" />
            </div>

            <input type="submit" value="login" />
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        
        <div id="register-text">
            <p>don't have an account?</p>
            <p><a href="/register" class="link-underline">register here</a> to save and edit your scrollers for easier access</p>
        </div>
    </main>
{% endblock %}