{% extends 'base.html' %}

{% block title %}have a nice wee day &ndash; manage{% endblock %}

{% block body %}
    <main class="manage-account">
        <h1>your account</h1>
        <form method="POST" class="update-details-form">
            <div>
                <label for="email">update email</label>
                <input type="email" name="email" id="email" autocomplete="username" />
            </div>

            <div>
                <label for="password">new password</label>
                <input type="password" name="password" id="password" minlength="8" maxlength="120" autocomplete="new-password" placeholder="(minimum 8 characters)" />
            </div>

            <div>
                <label for="password_confirmation">confirm new password</label>
                <input type="password" name="password_confirmation" id="password_confirmation" minlength="8" maxlength="120" />
            </div>

            <input type="submit" value="update details" />
        </form>
        <p class="text-center">{{ confirmation_message }}</p>
        <br>
        <ul>
            <li><a href="javascript:void(0);" onclick="confirmDeleteAll();">delete my account and all my scrollers</a></li>
            <li><a href="javascript:void(0);" onclick="confirmDeleteUser();">delete my account but leave my scrollers (you will not be able to delete or edit your scrollers later)</li>
        </ul>
        <p class="text-right"><a href="/myscrollers">back to my scrollers</a></p>
    </main>
    <script>
        function confirmDeleteAll() {
            let proceed = confirm('Are you sure you want to delete your account and all your scrollers?')
            if (proceed) {
                window.location.href = "/delete/user/all/{{ user.id }}";
            }
        }

        function confirmDeleteUser() {
            let proceed = confirm('Are you sure you want to delete your account? Your scrollers will remain but you will not be able to edit or delete them later.')
            if (proceed) {
                window.location.href = "/delete/user/{{ user.id }}";
            }
        }
    </script>
{% endblock %}