:root {
    /* blob colours */
    --pastelone: #e3d0ca;
    --pasteltwo: #fcd0bb;
    --pastelthree: #fab99980;
    --pastelfour: #e7c7b5;
    --pastelfive: #daaa9180;
    --pastelsix: #f0d9cb;
    --pastelseven: #f6efed;
    /* fruit animation colours */
    --juice: #f78a55;
    --jug: #c53c67;
    /* tree colours */
    --treeshapes: #d9a17d;
}