@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@font-face {
    font-family: 'BasierCircle';
    font-style: normal;
    src: url('../fonts/basiercircle-regular-webfont.woff2') format('woff2');
}

html {
    font-size: 100%;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;

    background-color: #EDB9D080;
    font-family: 'BasierCircle', 'Epilogue', Helvetica, Arial, sans-serif;
    line-height: 1.75;
    color: #1a1a1a;
}

main {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

/* TYPE SCALE SETTINGS – PERFECT FOURTH */

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

.text_small {
    font-size: 0.75rem;
}

/* END- TYPE SCALE SETTINGS */ 

.landing-body {
    max-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    padding-top: 0.6rem;
}

.header-right {
    display: flex;
    flex-wrap: nowrap;
}

.header-right a {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s, font-weight 1s;
    transition-timing-function: ease-in;
}

a:hover {
    color: white;
    font-weight: 500;
}

input {
    font-family: inherit;
}

input[type=text], input[type=email], input[type=password] {
    /* width: 90vw;
    max-width: 450px; */
    padding: 0.5rem;
    margin: 0.2rem;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: right;
}

.footer-fixed {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.hide-overflow {
    overflow: hidden;
}

#hero-img {
    height: 70vh;
    width: auto;
}

#for-custom-haiku {
    display: none;
    text-align: center;
}

textarea {
    resize: none;
    font-family: inherit;
    padding: 0.5rem;
}

#lets-go {
    margin-left: 3rem;
    height: 2rem;
    background-image: url('../img/hand-arrow.svg');
    background-repeat: no-repeat;
    transition: background-image 100ms ease-in-out;
}

#lets-go:hover {
    height: 2.72rem;
    background-image: url('../img/hand-arrow-bird.svg');
    background-repeat: no-repeat;
}

.homepage {
    background-image: url('../img/char-1.svg');
    background-repeat: no-repeat;
    height: 70vh;
    background-position: 20% 20vh;
    min-height: 500px;
}

.landing {
    margin-left: 30%;
    margin-top: 10%;
}

#someone-text {
    margin-left: 1rem;
}

#day-text {
    margin-left: 2rem;
}

input[type=submit] {
    background-color: pink;
    font-family: inherit;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    transition: all 200ms ease-in;
}

input[type=submit]:hover {
    background-color: darkmagenta;
}

.error {
    padding-top: 1rem;
    color: tomato;
    text-align: center;
}

.text-center {
    text-align: center;
}

.create div {
    margin-top: 1rem;
}

.success {
    text-align: center;
}

.success svg {
    height: 2rem;
}

.success svg:hover {
    fill: white;
}

.success button {
    background-color: pink;
    font-family: inherit;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.success button:hover {
    background-color: darkmagenta;
}

.success input[type=text] {
    width: 90vw;
    max-width: 450px;
}

#register-text {
    font-size: 0.9rem;
    text-align: center;
    width: 60%;
    margin: 2rem auto;
}

.link-underline {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}

.login-form, .register-form, .update-details-form {
    width: 60%;
    max-width: 500px;
    margin: auto;
    align-items: flex-start;
}

.login-form div, .register-form div, .update-details-form div {
    width: 100%;
    margin-bottom: 1rem;
    display: inline-flex;
    justify-content: flex-end;
}

.login-form div input, .register-form div input {
    min-width: 250px;
    width: 80%;
}

.update-details-form div input {
    min-width: 200px;
    width: 70%;
}

.login-form label, .register-form label, .update-details-form label {
    padding-right: 0.5rem;
    align-self: center;
}

.login-form input[type=submit], .register-form input[type=submit], .update-details-form input[type=submit] {
    min-width: 120px;
    width: 40%;
    max-width: 300px;
    margin: auto;
}

.success-register {
    margin-bottom: 2rem;
}

.edit-header {
    margin: 0;
    position: fixed;
    z-index: 2;
    height: 50px;
    width: 20%;
    background-color: #EDB9D080;
}

.edit-header h3 {
    text-align: right;
}

#long-message-count {
    color: gray;
    margin-top: -1rem;
    font-size: 0.7rem;
    width: 100%;
    text-align: right;
}

footer span {
    padding-left: 1rem;
}

.legal p {
    margin-bottom: 2rem;
}

.text-right {
    text-align: right;
}

.text-smaller {
    font-size: 0.7rem;
}

.text-grey {
    color: gray;
}

#delete-account-form {
    display: inline-flex;
}

#delete-account-form div {
    padding-left: 0;
    margin-bottom: 1rem;
}

#delete-account-form input[type=submit] {
    min-width: 150px; 
}