@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body {
    max-width: 1920px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;

    background-color: #EDB9D080;
    font-family: 'Epilogue', Helvetica, Arial, sans-serif;
    color: #1a1a1a;
}

main {
    padding-top: 2rem;
}

h1 {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: italic;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s, font-weight 1s;
    transition-timing-function: ease-in;
}

a:hover {
    color: white;
    font-weight: 500;
}

input {
    font-family: inherit;
}

input[type=text] {
    width: 90vw;
    max-width: 450px;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-weight: 300;
    font-size: 0.75em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-fixed {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.hide-overflow {
    overflow: hidden;
}

#hero-img {
    height: 70vh;
    width: auto;
}

#for-custom-haiku {
    display: none;
    text-align: center;
}

textarea {
    resize: none;
    font-family: inherit;
}

#lets-go {
    margin-left: 3rem;
    height: 2rem;
    background-image: url('../img/hand-arrow.svg');
    background-repeat: no-repeat;
    transition: background-image 100ms ease-in-out;
}

#lets-go:hover {
    height: 2.72rem;
    background-image: url('../img/hand-arrow-bird.svg');
    background-repeat: no-repeat;
}

.homepage {
    background-image: url('../img/char-1.svg');
    background-repeat: no-repeat;
    height: 70vh;
    background-position: 20% 20vh;
}

.landing {
    margin-left: 30%;
    margin-top: 10%;
}

#someone-text {
    margin-left: 1rem;
}

#day-text {
    margin-left: 2rem;
}

.create input[type=submit] {
    background-color: pink;
    font-family: inherit;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    transition: all 200ms ease-in;
}

.create input[type=submit]:hover {
    background-color: darkmagenta;
}

.error {
    padding-top: 1rem;
    color: tomato;
    text-align: center;
}

.text-center {
    text-align: center;
}

.create div {
    margin-top: 1rem;
}

.success {
    text-align: center;
}

.success svg {
    height: 2rem;
}

.success svg:hover {
    fill: white;
}

.success button {
    background-color: pink;
    font-family: inherit;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.success button:hover {
    background-color: darkmagenta;
}