@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Palette+Mosaic&display=swap');

@font-face {
    font-family: 'BasierCircle';
    font-style: normal;
    src: url('../fonts/basiercircle-regular-webfont.woff2') format('woff2');
}

html {
    overflow-x: hidden;
    font-size: 100%;
}

body {
    max-width: 1040px; /* Material Design */
    margin: 0 auto;
    padding-left: 16px; /* mobile-first Material Design */
    padding-right: 16px; /* mobile-first Material Design */    
    
    background-color: whitesmoke;
    font-family: 'BasierCircle', 'Epilogue', Helvetica, Arial, sans-serif;
    line-height: 1.75;
    color: #1a1a1a;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    text-align: center;
}

/* TYPE SCALE SETTINGS – PERFECT FOURTH */

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

.text_small {
    font-size: 0.75rem;
}

/* ANCHOR TAG SETTINGS */ 

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s, font-weight 1s;
    transition-timing-function: ease-in;
}

a:hover {
    color: white;
    font-weight: 500;
}

/* HEADER */

.edit-header {
    margin: 0;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #EDB9D080;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.edit-header h1 {
    font-size: 1.333rem; /* size down to h5 but keep as h1 for correct hiearchy */
    margin: 0;
    padding-right: 16px; /* mobile-first Material Design */
}

/* FOOTER */ 

footer {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: top;
    flex-wrap: wrap-reverse;
    padding-left: 16px; /* mobile-first Material Design */
    padding-right: 16px; /* mobile-first Material Design */
}

footer span {
    padding-left: 16px;
}

footer button {
    background-color: #775d68;
    font-family: inherit;
    font-size: inherit;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    transition: all 200ms ease-in;
    margin-left: 2rem;
}

footer button:hover {
    background-color: white;
    color: #775d68;
}

/* SECTIONS */

.frame {
    min-height: 100vh;
}

.mid-frame {
    min-height: 50vh;
}

#one-intro {
    position: relative;
}

#one-intro h2, #seven-fin h2 {
    font-size: 2.369rem; /* size-down for mobile-first */
}

#four-line-one {
    display: relative;
}

#five-line-two {
    display: relative;
}

#six-line-three {
    position: relative;
    display: relative;
}

#seven-fin {
    position: relative;
}

#one-intro h2 {
    padding-top: 15vh;
    z-index: 1;
}

.first-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#one-intro, #two-quick, #three-visual, #four-line-one, #five-line-two, #six-line-three p {
    font-size: 1.777rem; /* same as h4 for visual presence but retain as p for correct hierarchy */
}

.intro-text {
    padding-left: 5vw;
    padding-top: 5%;
}

#one-intro p:nth-child(odd) {
    padding-left: 4em;
}

#two-quick div {
    padding-top: 15vh;
}

#four-line-one, #five-line-two, #six-line-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#four-line-one p:nth-child(odd) {
    padding-left: 4em;
}

#five-line-two p:nth-child(even) {
    padding-left: 4em;
}

#six-line-three p:nth-child(odd) {
    padding-left: 4em;
}

#longer-message {
    border: 2px solid black;
    background-color: white;
    width: 80vw;
    max-width: 600px;
    padding: 1rem;
    margin: auto;
}

#from-text {
    margin-bottom: 10rem;
}

/* TEXT ALIGNMENT CLASSES */

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.padding_right {
    padding-right: 1rem;
}

/* BREAKPOINTS */

/* mobile */
@media (max-width: 599px) {
    body {
        overflow-x: hidden;
    }
}

/* tablet */
@media (min-width: 600px) {
    body {
        padding-left: 32px; /* Material Design */
        padding-right: 32px; /* Material Design */
     }

    .edit-header h1 {
        padding-right: 32px;
    }

    #one-intro, #two-quick, #three-visual, #four-line-one, #five-line-two, #six-line-three p {
        font-size: 2.369rem; /* same as h3 for visual presence but retain as p for correct hierarchy */
    }

    #one-intro h2, #seven-fin h2 {
        font-size: 3.157rem; /* size backup */
}

    footer {
        justify-content: space-between;
    }
    
}

/* laptop */
@media (min-width: 1240px) {
    :root {
        font-size: 18px; /* increase root font size for larger screens */
    }
    
    body {
        padding-left: 200px; /* Material Design */
        padding-right: 200px; /* Material Design */
    }

    .edit-header h1 {
        padding-right: 200px;
    }
}

/* desktop */
@media (min-width: 1440px) {
    :root {
        font-size: 22px; /* increase root font size for larger screens */
    }

    .edit-header h1 {
        padding-right: calc((100vw - 1040px) / 2); /* difference between max-width and current viewport width, divided by 2 for the right-hand side */
    }

}