@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Palette+Mosaic&display=swap');

@font-face {
    font-family: 'BasierCircle';
    font-style: normal;
    src: url('../fonts/basiercircle-regular-webfont.woff2') format('woff2');
}

html {
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'BasierCircle', 'Epilogue', Helvetica, Arial, sans-serif;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    scroll-snap-type: y proximity;
    scroll-padding-top: 15vh;
    width: 70vw;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s, font-weight 1s;
    transition-timing-function: ease-in;
}

a:hover {
    color: white;
    font-weight: 500;
}

/* HEADER */

.edit-header {
    margin: 0;
    position: fixed;
    left: 0%;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #EDB9D080;
}

.edit-header h2 {
    text-align: right;
    font-size: 1.2rem;
    margin: 0;
    padding-right: max(1rem, 10%);
}

/* FOOTER */ 

footer {
    margin: 0;
    position: relative;
    font-weight: 300;
    font-size: 0.75em;
    padding: 1rem 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer p {
    padding-left: 2rem;
}

footer span {
    padding-left: 1rem;
}

footer button {
    background-color: pink;
    font-family: inherit;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    transition: all 200ms ease-in;
}

footer button:hover {
    background-color: darkmagenta;
}

/* SECTIONS */

.frame {
    height: 100vh;
    scroll-snap-align: start;
}

#one-intro {
    text-align: center;
    position: relative;
}

#two-quick {
    text-align: center;
}

#three-visual {
    /* background-color: orange; */
}

#four-line-one {
    text-align: center;
    display: relative;
}

#five-line-two {
    text-align: center;
    display: relative;
}

#six-line-three {
    position: relative;
    text-align: center;
    display: relative;
}

#seven-fin {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seven-fin h3 {
    text-align: center;
    font-size: 3rem;
}

#one-intro h3 {
    text-align: right;
    font-size: 3rem;
    padding-top: 15vh;
}

#one-intro, #two-quick, #three-visual, #four-line-one, #five-line-two, #six-line-three p {
    font-size: 2rem;
}

.intro-text {
    padding-left: 5vw;
    padding-top: 5%;
}

#one-intro p:nth-child(odd) {
    padding-left: 4em;
}

#two-quick div {
    padding-top: 15vh;
}

#four-line-one, #five-line-two, #six-line-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#four-line-one p:nth-child(odd) {
    padding-left: 4em;
}

#five-line-two p:nth-child(even) {
    padding-left: 4em;
}

#six-line-three p:nth-child(odd) {
    padding-left: 4em;
}

#longer-message {
    border: 2px solid black;
    background-color: white;
    width: 80vw;
    max-width: 600px;
    padding: 1rem;
}