:root {
    /* blob colours */
    --pastelone: #fddcd6;
    --pasteltwo: #fef2e4;
    --pastelthree: #e3e5d1;
    --pastelfour: #edd8d3;
    --pastelfive: #c1e8e9;
    --pastelsix: #fee5c9;
    --pastelseven: #e9cfd8;
    /* fruit animation colours */
    --juice: #fcbe79;
    --jug: #65c6c8;
    /* tree colours */
    --treeshapes: #c7869d;
}