<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    {% endblock %}
</head>
<body {% block overflow %}{% endblock %}>
    {% block header %}
    <header>
        <div class="header-left">
            <h1><a href="/">have a nice wee day</a></h1>
        </div>
        <div class="header-right">
            <h1><a href="/about">about</a></h1>
            {% if current_user.is_authenticated %}
                <h1><a href="{{ url_for('scrollers.myscrollers') }}">account</a></h1>
                <h1><a href="{{ url_for('users.logout') }}">logout</a></h1>
            {% else %}
                <h1><a href="/login">login</a></h1>
            {% endif %}
        </div>
    </header>
    {% endblock %}
    {% block body %}{% endblock %}
    <footer {% block footerposition %}{% endblock %}>
        <p>&copy; 2022 have a nice wee day. all rights reserved.</p>
        <p><a href='/legal'>legal notices</a></p>
        {% block footeradd %}{% endblock %}
    </footer>
</body>
</html>